body{ 
    text-align: center;
}
.grid {
    width: 456px;
    height: 456px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    border: 1px solid black;
}
.square {
    width: 150px;
    height: 150px;
    border: 1px solid black;

}
.mole {
    background-image: url(./mole.jpg);
    background-size: cover;
}